/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do cabeçalho */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #446ce0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #8c84f3;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header h1 {
  color: #f1f3f8;
}

/* Navegação */
.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #0056b3;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #0056b3;
}

/* Estilo do container */
.container {
  width: 80%;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 120px;
}

h1 {
  color: #333;
  margin-bottom: 15px;
}

/* Estilo da barra de busca */
.search-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  gap: 10px;
  justify-content: flex-start;
}

.search-container input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-container button {
  padding: 10px 15px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #004a9e;
}

/* Estilo da lista de livros */
.list-loans {
  margin-top: 20px;
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.list-header {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 1.5fr 1.5fr; /* 6 colunas */
  font-weight: bold;
  color: white;
  background-color: #2455d6;
  padding: 10px;
  visibility: hidden; /* Inicialmente invisível */
}

.list-header span {
  text-align: center;
}

.list-loans ul {
  list-style: none;
  padding: 0;
}

.list-loans li {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 1.5fr 1.5fr; /* Mesma configuração */
  padding: 15px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
}

.list-loans li span {
  text-align: center;
}

/* Botão de ação */
.list-loans li button {
  padding: 8px 12px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.list-loans li button:hover {
  background: #218838;
}

/* Mensagem de erro */
.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}
